---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luna Institute">
  <main>
    <h1 class="head">
      <span style="font-family: Alagard;">Luna</span><br />Institute
      <div class="head-links">
        <a href="https://github.com/LunaInstitute">[our work]</a><br />
        <a href="/manifesto">[sovereign edtech]</a>
      </div>
    </h1>
    <div class="sub-container">
      <p class="sub">
        is an independent EdTech R&D lab on a mission to accelerate innovation
        in education through cutting-edge research and open-source software
        development.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    height: 100vh;
    padding: 0 6rem;
  }
  .head {
    font-size: 10rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 0.7;
    font-family: CloisterBlack;
    letter-spacing: -4px;
  }
  .head-links {
    padding: 1rem 0 0 0;
    font-size: 3rem;
    font-family: "Alagard";
    line-height: 1.1;
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: end;
  }
  .sub {
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.5;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    text-align: justify;
    width: 50%;
  }

  @media screen and (max-width: 1024px) {
    .head {
      font-size: 8rem;
    }

    .sub {
      width: 75%;
    }
  }

  @media screen and (max-width: 768px) {
    .head-links {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 570px) {
    main {
      padding: 0 2rem;
    }

    .head {
      text-align: center;
    }

    .sub {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .head {
      font-size: 5rem;
    }
  }
</style>
