---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Sovereign Education Technology Manifesto">
  <main>
    <h1>The Sovereign Education Technology Manifesto</h1>
    <p>
      Education technology, which was created to assist learning, has fallen
      under the ill influence of exploitative business practices aimed at
      maximizing profits while disregarding freedom and privacy of those who are
      often the most vulnerable&mdash;teachers and students. The same practices
      that were normalized by Big Tech&mdash;selling user data, renting software
      instead of owning it, vendor lock-ins&mdash;are now successfully applied
      in education, taking advantage of lack of knowledge, limited choices, and
      resource constraints educators face to hold them hostage in walled
      gardens, garnished with big claims and privacy-washing.
    </p>
    <p>
      We must prevent this from becoming the norm. Education technology must
      never be the instrument of exploitation, oppression, or control.
    </p>
    <p>
      The <i>Sovereign Education Technology Manifesto</i> is a blueprint for a new
      generation of education technology&mdash;the kind that empowers educators and
      learners, protects their freedom and serves them above all else.
    </p>
    <ol>
      <li>
        <strong>Software Freedom.</strong> Education software should be libre and
        open source. We encourage developers to use strong copyleft licenses when
        possible to protect the results of their labor from misaligned use.
      </li>
      <li>
        <strong>Privacy.</strong> Users should have complete control of their data.
        Period. Storage and communications should be private and encrypted by default.
        Usage analytics are discouraged. If present, they should be anonymous and
        explicitly opt-in.
      </li>
      <li>
        <strong>Accessibility.</strong> Education technology should be accessible
        to all learners and educators. It should be designed to accommodate a wide
        range of abilities, learning styles, and cultural contexts. It should be
        affordable and available in low-connectivity environments.
      </li>
      <li>
        <strong>Autonomy.</strong> Education software should enable institutions
        to maintain control over their technology infrastructure. This means providing
        options for self-hosting and relying on open standards to ensure interoperability
        and data portability. We encourage incorporating local-first principles whenever
        possible and reasonable.
      </li>
      <li>
        <strong>Resisting Tech Worship.</strong> We stand against the worship of
        technology in education, techno-solutionism, and the narrative that more
        technology is always better. We recognize that technology can enhance learning,
        but it is no substitute for empathetic, skilled educators and well-designed
        pedagogy.
      </li>
      <li>
        <strong>Liberatory Principles.</strong> Education technology should support
        the principles of liberatory education. It should promote learner agency,
        critical thinking, and self-actualization. It should resist all forms of
        algorithmic bias, discrimination, and oppression. It should foster meaningful
        human connections and collective empowerment, not isolation and individualism.
      </li>
    </ol>
    <p>
      Sovereign Education Technology Manifesto &copy; 2025 by <a
        href="https://www.luna.sbs/">Luna Institute</a
      > is licensed under <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY-NC-SA 4.0</a
      >.
    </p>
    <p>
      <a href="https://github.com/LunaInstitute/sovereign-edtech"
        >Propose changes</a
      >
    </p>
  </main>
</Layout>

<style>
  main {
    max-width: 1024px;
    width: 85%;
  }

  h1 {
    font-family: "CloisterBlack";
    font-size: 9rem;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: -4px;
    word-spacing: -15px;
    line-height: 0.8;
  }

  p,
  ol {
    font-size: 2rem;
    text-align: justify;
    font-family: "EB Garamond";
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 6rem;
    }

    p,
    ol {
      font-size: 1.75rem;
    }
  }

  @media screen and (max-width: 425px) {
    h1 {
      font-size: 5rem;
    }

    p,
    ol {
      font-size: 1.5rem;
    }
  }
</style>
